img{
	margin-left: 650px;
	float:left;
}
body{
	margin:0;
	padding:0;
}
#cover{
	position: absolute;
	width: 600px;
	height: 600px;
	background: black;
}

#linezone{
	margin-left: 130px;
	width: 340px;
	height: 100%;
}
